* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

.container {
  display: flex;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.drawersimage {
    display: flex;
    width: 40%;
}

.drawers {
    display: flex;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.article {
    width: 60%;
    margin: 20px 40px;
}

h2 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin: 0%;
}

p {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}

.avatar {
    border-radius: 50%;
    width: 40px;    
    height: auto;
}

.social {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 20px;
}

.socialinfo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.button {
    display: flex;
    flex-flow: row wrap;
    margin-left: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.date {
    color: hsl(212, 23%, 69%);
    font-weight: 500;
}

.articlecontent {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}